{% extends layoutDir + '/default.njk' %}

{% block main %}
    <hr />
    <h2>{{ file.fm.name }}</h2>
    {% if file.fm.image %}
      <img src="{{ basepath }}/{{ file.fm.image }}" />
      <br/>
    {% endif %}
    <ul>
      <li>日時
      <ul>
      {% for date in file.fm.date %}
        <li>{{ date }}
      {% endfor %}
      </ul>
      <li>会場
      <ul>
      {% for venue in file.fm.venue %}
        <li>{{ venue }}
      {% endfor %}
      </ul>
      <li>チケット
      <ul>
      {% for ticket in file.fm.ticket %}
        <li><a href="{{ ticket.url }}">{{ ticket.name }}</a>
      {% endfor %}
      </ul>
    </ul>
    <article>
    {{ file.contents | safe }}
    </article>
{% endblock %}
