{% extends layoutDir + '/default.njk' %}

{% block main %}
  <h1>イベント情報</h1>

  {% for event in file.files %}
    <hr />
    <h2><a href="{{ basepath }}{{ event.relative }}">{{ event.fm.name }}</a></h2>
    <p>日時:
    {% for date in event.fm.date %}
      {% if not loop.first %}
      /
      {% endif %}
      {{ date | date('YYYY年MM月DD日') }}
    {% endfor %}
    {% if event.fm.image %}
      <p><a href="{{ basepath }}{{ event.relative }}"><img src="{{ event.fm.image }}" /></a></p>
    {% endif %}
    </ul>
  {% endfor %}

{% endblock %}
