{% extends layoutDir + '/layout.njk' %}

{% block main %}
<h1 class="title">{{ orgName }}</h1>

<hr />

<h2><a href="https://nodejs.org/ja/download/">ダウンロード</a></h2>

<h2>公式ドキュメント</h2>

<ul>
  <li><a href="https://nodejs.org/api/">Node.js 最新</a>
  <li><a href="https://nodejs.org/dist/latest-v4.x/docs/api/">Node.js v4.x</a>
  <li><a href="https://nodejs.org/dist/latest-v6.x/docs/api/">Node.js v6.x</a>
</ul>

{% for eventFile in file.files %}
  {% if loop.first %}
    <h2>イベント情報</h2>
  {% endif %}

  <h3><a href="{{ eventFile.relative }}">{{ eventFile.fm.name }}</a></h3>
  {% if eventFile.fm.image %}
    <p><img src="{{ eventFile.fm.image }}">
  {% endif %}
  <p>日時:
  {% for date in eventFile.fm.date %}
    {% if not loop.first %}/{% endif %}
    {{ date | date('YYYY年MM月DD日') }}
  {% endfor %}
{% endfor %}

{% endblock %}
