{# ジョブボード個別ページのテンプレート #}

{% extends layoutDir + '/layout.njk' %}

{% block main %}
<h1>{{ file.fm.name }}</h1>
{% if file.fm.image %}
  <figure>
    <a href="{{ file.fm.url }}">
      <img src="{{ basepath(file) }}/{{ file.fm.image }}" />
    </a>
  </figure>
{% endif %}
{% if file.fm.role %}
<ul>
  <li>募集職種
  <ul>
  {% for role in file.fm.role %}
    <li>{{ role }}
  {% endfor %}
  </ul>
</ul>
{% endif %}
<hr />
{{ file.contents | safe }}
<hr />
{% if file.fm.postedAt != null %}
  <p>(掲載日: {{ file.fm.postedAt | date('YYYY年MM月DD日') }})
{% endif %}
{% endblock %}
