{% extends layoutDir + '/layout.njk' %}

{% block main %}
<h1>{{ file.fm.name }}</h1>
{% if file.fm.image %}
  <a href="{{ file.fm.url }}">
    <img src="{{ basepath }}/{{ file.fm.image }}" width="165" style="margin: 15px;"/>
  </a>
{% endif %}
<ul>
  <li>募集職種
  <ul>
  {% for kind in file.fm.kind %}
    <li>{{ kind }}
  {% endfor %}
  </ul>
</ul>
<hr />
{{ file.contents | safe }}
{% endblock %}
