{% extends layoutDir + '/layout.njk' %}

{% block main %}
<h1>ジョブボード</h1>

{% for file in file.files %}
<hr />
<h2><a href="{{ basepath(file) }}/{{ file.relative }}">{{ file.fm.name }}</a></h2>
{% if file.fm.image %}
  <figure>
    <a href="{{ basepath(file) }}/{{ file.relative }}">
      <img src="{{ basepath(file) }}/{{ file.fm.image }}" class="job-logo">
    </a>
  </figure>
{% endif %}
<p>
{% if file.fm.role %}
  募集職種:
  {% for role in file.fm.role %}
    {% if not loop.first %}/{% endif %}
    {{ role }}
  {% endfor %}
  </p>
{% endif %}
{% endfor %}

{% endblock %}
