{# 全ページ共通レイアウトファイル #}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ orgName }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ basepath(file) }}/css/tacit.min.css"/>
    <link rel="stylesheet" href="{{ basepath(file) }}/css/style.css"/>
    <link rel="icon" href="{{ basepath(file) }}/images/favicon.png" />
  </head>
  <body>
    {% include partialsDir + '/github-corner.njk' %}
    <nav>
    <img width="150" src="{{ basepath(file) }}/images/nodejs-logo.svg" />
    <br />
    <ul>
    {% for page in pages %}
      {% if page.path == file.relative %}
        <li>{{ page.name }}
      {% else %}
        <li><a href="{{ basepath(file) }}/{{ page.path }}">{{ page.name }}</a>
      {% endif %}
    {% endfor %}
    </ul>
    </nav>
    <section>
      <article>
        {% block main %}{% endblock %}
        <hr/>
        <footer>
        <p>
          <small>© 2016 {{ orgName }}</small>
          <small><a href="https://github.com/nodejsjp/nodejsjp.github.com">GitHub</a></small>
        </p>
        </footer>
      </article>
    </section>
    {% include partialsDir + '/analytics.njk' %}
  </body>
</html>
