<title>{{ orgName }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/notosansjapanese.css">
<link rel="stylesheet" href="{{ basepath }}/css/tacit.min.css"/>
<link rel="stylesheet" href="{{ basepath }}/css/style.css"/>
<link rel="icon" href="{{ basepath }}/images/favicon.png" />

<nav>
<img width="150" src="{{ basepath }}/images/nodejs-logo.svg" />
<br />
<ul>
{% for page in pages %}
  {% if page.path == file.relative %}
    <li>{{ page.name }}
  {% else %}
    <li><a href="{{ basepath }}/{{ page.path }}">{{ page.name }}</a>
  {% endif %}
{% endfor %}
</ul>
</nav>
<section>

{% block main %}{% endblock %}

<hr/>
<footer>
<p><small>© 2016 {{ orgName }}</small></p>
</footer>
</section>
