{% extends layoutDir + '/layout.njk' %}

{% block main %}
<h1>News</h1>

{% for file in file.files %}
<hr />
<h2>
  <small>{{ file.fm.date | date('YYYY/MM/DD') }}</small>
  <a href="{{ basepath(file) }}/{{ file.relative }}">{{ file.fm.title }}</a>
</h2>
{% endfor %}

{% endblock %}
